body{
  margin: 0;
  font-size: 2.2em;
  font-family: 'Finger Paint';
  background-color: black;
}
.principal{
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 750px auto;
  grid-template-rows: 720px;
}
.menu{
  width: 700px;
  height: 700px;
  margin: auto;
  background: rgb(60,60,60);
  background: radial-gradient(circle, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  display: flex;
  position: relative;
  box-shadow: 0px 0px 16px 0px #333333;
}
.container{
  margin: auto;
  width: 80%;
  display: block;
}
.encabezado-container{
  max-width: 100%;
  margin: 0 auto;
}
.encabezado{
  color: white;
  display: flex;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to right, white 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 3px;
  background-repeat: repeat-x;
}
.fecha{
  display: flex;
  height: 1em;
  width: 100%;
  margin: 5px auto;
  text-align-last: justify;
  align-items: center;
  justify-content: center;
}
.hoy{
  margin: 5px auto;
  margin-bottom: 15px;
  height: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guisados{
  width: auto;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
}
.quitar{
  position: absolute;
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgba(0,0,0,0);
  right: 50px;
  height: 30px;
  width: 30px;
 /*  margin: 50px 20px; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.quitar:hover{
  background-color: rgba(146, 146, 146, 0.5);
  color: rgb(175, 175, 175);
  border: solid 1px white;
}
.opcion{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.pie{
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  background-image: linear-gradient(to right, white 50%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 12px 3px;
  background-repeat: repeat-x;
}
.pie-mensaje{
  height: 1em;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.entradas{
  min-width: 100px;
  max-width: 200px;
  margin: auto;
}
.enter-container{
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.btn-container{
  width: auto;
  display: flex;
  margin: 10px auto;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.downloadBtn{
  width: auto;
  display: flex;
  margin: 50px auto;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.btn{
  font-weight: 500;
  height: auto;
  width: auto;
  color: #bbbbbb;
  background-color: #333333;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #b1b1b1;
  box-sizing: border-box;
}
.enter{
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
.link{
/*   border: solid 1px white; */
  height: auto;
}

.linkGo{
  display: flex;
  color: white;
  height: auto;
  justify-content: center;
  font-size: .5em;
  line-break: anywhere;
}

/* .date{
  border: 0;
  border-bottom: 1px solid gray;
} */
/* .guisado{
  width: 90%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid gray;
} */

/* @media screen and (max-width: 1000px){
  .menu{
    width: 700px;
    height: 700px;
  }
} */