body{
  font-size: 4em;
  font-family: 'Bebas Neue'
}
.menu{
  width: 1200px;
  height: 1200px;
  background: rgb(60,60,60);
  background: radial-gradient(circle, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  display: flex;
  position: relative;
}
.container{
  margin: auto;
  width: 80%;
  display: block;
}
.encabezado-container{
  max-width: 90%;
  margin: 0 auto;
}
.encabezado{
  color: white;
  display: block;
  margin: auto;
  text-align: center;
  border-bottom: solid 1px white;
}
.fecha{
  display: flex;
  height: 1em;
  width: 40%;
  margin: 5px auto;
  text-align-last: justify;
  align-items: center;
  justify-content: center;
}
.hoy{
  margin: 5px auto;
  margin-bottom: 15px;
  height: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guisados{
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
}
.quitar{
  position: absolute;
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgba(0,0,0,0);
  right: 50px;
  height: 30px;
  width: 30px;
 /*  margin: 50px 20px; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.quitar:hover{
  background-color: rgba(146, 146, 146, 0.5);
  color: rgb(175, 175, 175);
  border: solid 1px white;
}
.opcion{
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.pie{
  border-top: solid 1px white;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
}
.pie-mensaje{
  height: 1em;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
  justify-content: center;
}